.container{
  text-align:center;
  margin-top:40px;
}

form{
  margin:20px;
}

input, select{
  margin:5px;
  padding:8px;
}

button{
  padding:8px 15px;
  background-color:green;
  color:white;
  border:none;
}